/* halaman admin */
body {
    font-family: 'Poppins';

}

.nav-link:hover {
    background-color: grey;
}

.card1 {
    background-color: #B131BF;
    height: 150px;

}

.card2 {
    background: #5A72D4;
    height: 150px;
}

.content {
    height: 500px;
}